<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="GetConfigDataURL" value="http://maicai.admin.ddxq.mobi/product/PluManage/GetPluinfo"/>
    <add key="GetStoreListURL" value="100.test"/>
    <add key="ConfigDirectory" value="C:\syncservice\config"/>
    <add key="BaseDirectory" value="C:\syncservice"/>
  </appSettings>
</configuration>
