<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="ErrorLog" xsi:type="File" fileName="C:/logs/ErrorLog/${shortdate}_exception.txt"
            archiveAboveSize="5242880" maxArchiveFiles="9999" archiveFileName="C:/logs/ErrorLog/${shortdate}_exception.{####}.txt"
            archiveNumbering="Sequence" layout="${longdate} ${callsite} ${message}"/>

    <target name="DebugLog" xsi:type="File" fileName="C:/logs/DebugLog/${shortdate}_debug.txt"
            archiveAboveSize="5242880" maxArchiveFiles="9999" archiveFileName="C:/logs/DebugLog/${shortdate}_debug.{####}.txt"
            archiveNumbering="Sequence" layout="${longdate} ${callsite} ${message}"/>

    <target name="InfoLog" xsi:type="File" fileName="C:/logs/InfoLog/${shortdate}_info.txt"
            archiveAboveSize="5242880" maxArchiveFiles="9999" archiveFileName="C:/logs/InfoLog/${shortdate}_info.{####}.txt"
            archiveNumbering="Sequence" layout="${longdate} ${callsite} ${message}"/>
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="ErrorLog"/>
    <logger name="*" level="Debug" writeTo="DebugLog"/>
    <logger name="*" level="Info" writeTo="InfoLog"/>
  </rules>

</nlog>
